version: "3.9"

services:
  redis-node-1:
    image: redis:8.4
    container_name: redis-node-1
    ports:
      - "7001:7001"
      - "17001:17001"
    volumes:
      - ./redis-data/node1:/data
    command:
      [
        "redis-server",
        "--port",
        "7001",
        "--bind",
        "0.0.0.0",
        "--cluster-enabled",
        "yes",
        "--cluster-config-file",
        "nodes.conf",
        "--cluster-node-timeout",
        "5000",
        "--appendonly",
        "yes",
        "--cluster-announce-ip",
        "${HOST_IP}",
        "--cluster-announce-port",
        "7001",
        "--cluster-announce-bus-port",
        "17001",
      ]
    networks:
      - duolingo-net

  redis-node-2:
    image: redis:8.4
    container_name: redis-node-2
    ports:
      - "7002:7002"
      - "17002:17002"
    volumes:
      - ./redis-data/node2:/data
    command:
      [
        "redis-server",
        "--port",
        "7002",
        "--bind",
        "0.0.0.0",
        "--cluster-enabled",
        "yes",
        "--cluster-config-file",
        "nodes.conf",
        "--cluster-node-timeout",
        "5000",
        "--appendonly",
        "yes",
        "--cluster-announce-ip",
        "${HOST_IP}",
        "--cluster-announce-port",
        "7002",
        "--cluster-announce-bus-port",
        "17002",
      ]
    networks:
      - duolingo-net

  redis-node-3:
    image: redis:8.4
    container_name: redis-node-3
    ports:
      - "7003:7003"
      - "17003:17003"
    volumes:
      - ./redis-data/node3:/data
    command:
      [
        "redis-server",
        "--port",
        "7003",
        "--bind",
        "0.0.0.0",
        "--cluster-enabled",
        "yes",
        "--cluster-config-file",
        "nodes.conf",
        "--cluster-node-timeout",
        "5000",
        "--appendonly",
        "yes",
        "--cluster-announce-ip",
        "${HOST_IP}",
        "--cluster-announce-port",
        "7003",
        "--cluster-announce-bus-port",
        "17003",
      ]
    networks:
      - duolingo-net

  redis-node-4:
    image: redis:8.4
    container_name: redis-node-4
    ports:
      - "7004:7004"
      - "17004:17004"
    volumes:
      - ./redis-data/node4:/data
    command:
      [
        "redis-server",
        "--port",
        "7004",
        "--bind",
        "0.0.0.0",
        "--cluster-enabled",
        "yes",
        "--cluster-config-file",
        "nodes.conf",
        "--cluster-node-timeout",
        "5000",
        "--appendonly",
        "yes",
        "--cluster-announce-ip",
        "${HOST_IP}",
        "--cluster-announce-port",
        "7004",
        "--cluster-announce-bus-port",
        "17004",
      ]
    networks:
      - duolingo-net

  redis-node-5:
    image: redis:8.4
    container_name: redis-node-5
    ports:
      - "7005:7005"
      - "17005:17005"
    volumes:
      - ./redis-data/node5:/data
    command:
      [
        "redis-server",
        "--port",
        "7005",
        "--bind",
        "0.0.0.0",
        "--cluster-enabled",
        "yes",
        "--cluster-config-file",
        "nodes.conf",
        "--cluster-node-timeout",
        "5000",
        "--appendonly",
        "yes",
        "--cluster-announce-ip",
        "${HOST_IP}",
        "--cluster-announce-port",
        "7005",
        "--cluster-announce-bus-port",
        "17005",
      ]
    networks:
      - duolingo-net

  redis-node-6:
    image: redis:8.4
    container_name: redis-node-6
    ports:
      - "7006:7006"
      - "17006:17006"
    volumes:
      - ./redis-data/node6:/data
    command:
      [
        "redis-server",
        "--port",
        "7006",
        "--bind",
        "0.0.0.0",
        "--cluster-enabled",
        "yes",
        "--cluster-config-file",
        "nodes.conf",
        "--cluster-node-timeout",
        "5000",
        "--appendonly",
        "yes",
        "--cluster-announce-ip",
        "${HOST_IP}",
        "--cluster-announce-port",
        "7006",
        "--cluster-announce-bus-port",
        "17006",
      ]
    networks:
      - duolingo-net

  redis-cluster-init:
    image: redis:8.4
    container_name: redis-cluster-init
    depends_on:
      - redis-node-1
      - redis-node-2
      - redis-node-3
      - redis-node-4
      - redis-node-5
      - redis-node-6
    entrypoint: ["sh", "-c"]
    command: [
        "
        sleep 8;
        yes yes | redis-cli --cluster create
        ${HOST_IP}:7001
        ${HOST_IP}:7002
        ${HOST_IP}:7003
        ${HOST_IP}:7004
        ${HOST_IP}:7005
        ${HOST_IP}:7006
        --cluster-replicas 1;
        tail -f /dev/null;
        ",
      ]
    networks:
      - duolingo-net

networks:
  duolingo-net:
    external: true
